<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
<div class="field">
        <%= f.email_field :email, placeholder: "Exammple@gmail.com" %>
  
   <%= f.password_field :password %>
  <%= f.submit "Log in" %><br> 
  <p class="small">
  <% if devise_mapping.rememberable? -%>

      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
   
  <% end -%>

  <%= render "devise/shared/links" %>
</p>
 
  
<% end %>